<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <script src="{{url_for('static', filename='js/script.js')}}"></script>
        <title>QRcode Generator</title>
    </head>
</head>
<body>
<div class="main-container">
    <div class="header">
        <div class="title-container">
            <h1>Danh sách khách hàng</h1>
        </div>
        <div class="button-container">

            <form action="/export" method="POST">
                <input type="hidden" name="data" id="user_data">
                <button type="submit" class="btn btn-secondary" onclick="format_data()">Tải xuống Excel</button>
            </form>
        </div>
    </div>
    <div class="search-container">
        <input class="form-control form-control-dark w-100" type="text" placeholder="Tìm kiếm" aria-label="Search"
               id='search-field' onkeyup="search()">
    </div>

    <div class="table-container">
        <table class="table" id="user-table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Họ và tên</th>
                <th scope="col">Số điện thoại</th>
                <th scope="col">Email</th>
                <th scope="col">Địa chỉ</th>
            </tr>
            </thead>

            <tbody>
            {% for data in response["data"] %}
            <tr>
                <th scope="row">{{data['id']}}</th>
                <td>{{data['fullname']}}</td>
                <td>{{data['phone_number']}}</td>
                <td>{{data['email']}}</td>
                <td>{{data['address']}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</html>