<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <script src="{{url_for('static', filename='js/script.js')}}"></script>
        <title>QRcode Generator</title>
    </head>
</head>

<body>
<div class="main-container">
    <div class="table-container" id="table-container">
        <div class="header">
            <div class="title-container">
                <h1>Danh sách khách hàng</h1>
            </div>
            <div class="button-container">
                <form action="/export" method="POST">
                    <input type="hidden" name="data" id="user_data">
                    <button type="submit" class="btn btn-secondary" onclick="format_data()">Tải xuống Excel</button>
                    <button type="button" class="btn btn-secondary" onclick="getChartData()">Biểu đồ</button>
                </form>
            </div>
        </div>
        <div class="search-container">
            <input class="form-control form-control-dark w-100" type="text" placeholder="Tìm kiếm" aria-label="Search"
                   id='search-field' onkeyup="search()">
            <div class="filter-container" id="filter_container">
                <div class="label-info">
                    <p>Bộ lọc: </p>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="fullname">
                    <label class="form-check-label" for="fullname">
                        Họ và tên
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="phone_number">
                    <label class="form-check-label" for="phone_number">
                        Số điện thoại
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="email">
                    <label class="form-check-label" for="email">
                        Email
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="address">
                    <label class="form-check-label" for="address">
                        Tỉnh, Thành phố
                    </label>

                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="status">
                    <label class="form-check-label" for="status">
                        Trạng thái
                    </label>

                </div>

            </div>

            <div class="table-content">
                <table class="table" id="user-table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Họ và tên</th>
                        <th scope="col">Số điện thoại</th>
                        <th scope="col">Email</th>
                        <th scope="col">Địa chỉ</th>
                        <th scope="col">Trạng thái</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for user_data in data %}
                    <tr>
                        <th scope="row">{{user_data['id']}}</th>
                        <td>{{user_data['fullname']}}</td>
                        <td>{{user_data['phone_number']}}</td>
                        <td>{{user_data['email']}}</td>
                        <td>{{user_data['address']}}</td>
                        <td>{{user_data['status']}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="chart-container" id="chart_container" hidden>
        <div class="title">

        </div>
        <div class="chart">
            <div class="pie-chart-column" id="city_chart"></div>
            <div class="pie-chart-column" id="status_chart"></div>
        </div>
        <a href="/statistic">Quay lại</a>
    </div>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    google.charts.load('current', {'packages': ['corechart']});

</script>
</html>