body{
    box-sizing: border-box;
}
.main-container{
    padding: 10px;
}
.content-container{
    display: flex;
}

.header-container{
    text-align: center;
    padding: 20px 0;

}

.header-container p {
    font-size: 32px;
}

.input-container{
    width: 49%;
    margin: 20px;
    border: 1px solid rgb(108, 108, 108);
    padding: 10px;
}

.qr-container{
    width: 49%;
    margin: 20px;
    border: 1px solid rgb(108, 108, 108);
    padding: 10px;
    text-align: center;
}
.error{
    color: red;
}

.search-container{
    margin: 20px 0;
}
.header{
    display: flex;
}
.button-container{
    margin: 0 0 10px 0;
    text-align: right;
    padding: 4px;
    width: 20%;
}
.title-container{
    width: 80%;
}